body {
    background: linear-gradient(to bottom, #9fb5cc, #3d915d); 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    
    
}

.container {
    text-align: center;
    display: flex;
  
}

.photo img {
    max-width: 100%;
    height: auto;
  
}

.price {
    /* Стилі для ціни */
}

.stars {
    /* Стилі для зірок або рейтингу */
}
.buttons{
    padding-left: 10%;
    
}
.button {
    height: 100px;
    width: 300px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5a976f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #9fb6ce;

}