body {
    background: linear-gradient(to bottom, #503f3f, #ffffff); 
    margin: 30;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    
    
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    /* margin-left: 5%; */
}

.photo {
    width: 40%; /* Ширина контейнера фотографії */
    margin: 0 auto; /* Центрування контейнера по горизонталі */
    margin-left: 40px; /* Зсув фотографії на ліво */
}


.photo img {
    width: 40%; /* Змінюємо ширину зображення на 100% */
    height: auto;
    margin-right: 20px; /* Додаємо відступ справа */
    margin-left: -20px; /* Зсуваємо зображення ліворуч */
}


.price {
    /* Стилі для ціни */
}

.stars {
    /* Стилі для зірок або рейтингу */
}
.buttons{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: flex-end;
    order: 2;
    margin-right: 5%; 
}
.button {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center; /* Розмістити текст по центру горизонталі */
    align-items: center; /* Розмістити текст по центру вертикалі */
    background-color: #3a3030;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px; /* Додати бажане значення проміжку */
}




.button:hover {
    background-color: #9fb6ce;

}
.caption {
    text-align: center;
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
}