body {

   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(Img/bg.jpg);
    background-size: cover;
    /* Паросток папаї */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.container {
    display: flex;
    max-width: 1200px;
    min-width: 1000px;
    /* Максимальна ширина контейнера */
    width: 100%px;
    padding: 20px;
    gap: 200px;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;

}

/* Glass Effect */
/* .glass {
    background: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(225, 225, 225, 0.18);
    box-shadow: 0 8px 32px 0 rgba(225, 225, 225, 0.37);
} */

.photo {
    margin-bottom: 20px;
}


.photo img {
    width: 200px;
    height: auto;
}


.price {
    text-align: center;
  color: #c1121f;
  margin-bottom: 10px;
}

.stars {
    /* Стилі для зірок або рейтингу */
}

.middle-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Відступи між елементами у середній колонці */
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: flex-end;
    order: 2;
    margin-right: 5%;
}

.button {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    /* Розмістити текст по центру горизонталі */
    align-items: center;
    /* Розмістити текст по центру вертикалі */
    background-color: #3a3030;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
    /* Додати бажане значення проміжку */
}
.button:hover {
    background-color: #9fb6ce;
}

.right-column {
    flex: 1;
    /* Займати увесь доступний простір */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Вирівняти по центру */
    gap: 20px;
    /* Відступи між елементами у правій колонці */
  }



  /* .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    align-content: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
} */